<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred-reddit</string>
	<key>connections</key>
	<dict>
		<key>B5CF205D-436D-41EC-A53A-555FF106ADDD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5317E26-AD8C-418F-9337-F79C30DE316F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>97C3D420-9480-4147-9E67-77BBD6E1CE36</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open Comments on Reddit</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson</string>
	<key>description</key>
	<string>Browse Hot Posts on Reddit</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Reddit</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>r/</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Querying Reddit.com…</string>
				<key>script</key>
				<string>/usr/bin/python reddit.py "{query}"</string>
				<key>subtext</key>
				<string>Enter subreddit name to get started</string>
				<key>title</key>
				<string>Browse Reddit</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B5CF205D-436D-41EC-A53A-555FF106ADDD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python reddit.py --openurl "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B5317E26-AD8C-418F-9337-F79C30DE316F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python reddit.py --opencomments "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>97C3D420-9480-4147-9E67-77BBD6E1CE36</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>97C3D420-9480-4147-9E67-77BBD6E1CE36</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>B5317E26-AD8C-418F-9337-F79C30DE316F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B5CF205D-436D-41EC-A53A-555FF106ADDD</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
